/* grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "content gallery"
    "footer footer";
  min-height: 100%;
}
.front-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "hero hero hero"
    "travel mac opinion"
    "footer footer footer";
  min-height: 100%;
  background-position: center-all !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  position: relative;
}

.grid-item {
  padding: 40px;
  background: transparent;
}
.content {
  grid-area: content;
  padding-left: 5em;
}
.gallery {
  grid-area: gallery;
  padding: 20px;
  padding-right: 5em;
}
.bglight {
  background: #eeeeee;
}
.travel {
  grid-area: travel;
}
.mac {
  grid-area: mac;
}
.opinion {
  grid-area: opinion;
}
#headerimg {
}
.hero {
}
.footer {
  grid-area: footer;
  align-items: end;
  width: 100%;
}
.center-all {
  display: flex;            /* new */
  align-items: center;      /* new */
  justify-content: center;
}
.plaintext {
  padding-left: 20vh;
  padding-right: 20vh;
}
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: start;
  justify-items: center;
  margin: auto;
  max-width: 1200px;
}
.gallery-grid img {
  /*max-width: 100%;*/
}
.portrait {
  grid-column: span 1;
}
.landscape {
  grid-column: span 2;
}

.hero {
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .grid-container {
    padding-left: 2em;
    padding-right: 2em;
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "gallery"
      "footer";
  }
  .front-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "hero"
      "travel"
      "mac"
      "opinion"
      "footer";
    min-height: 100%;
  }
  .plaintext {
    padding-left: 5vh;
    padding-right: 5vh;
  }
  .portrait {
    grid-column: span 2;
  }
}
