html {
  font-family: 'Nunito', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
}
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  /*font-family: 'Lalezar', cursive;*/
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
}
p, a, li {
  line-height: 1.25em;
}
