.item {
    display: inline-block;
    margin: 5px;
}
.masonry {
    column-count: 2;
}
#gallery {
    display: grid;
    grid-gap: 20px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
}
