/* grid */
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  img {
      max-width: 100%;
      margin: auto;
  }

}
/* Frontpage */
.front-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.single {
  grid-template-columns: 1fr;
}
.hero {
  display: inline-grid;
  grid-column: span 3;
  min-height: 50vh;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  align-items: center;
  justify-items: center;
  padding-left: 25%;
  padding-right: 25%;
  color: #fff;
  background: red;
  text-shadow: 2px 2px 7px #000;
  margin-top: -32px;
  h1 {
    color: #fff;

  }
}
.cat {
  background-color: #2f2e2f;
  border-radius: 3px;
  li a {
    text-transform:  none;
  }
}

.grid-item {
  /* left and right padding */
  padding: 10px;
}

.center-content {
  display: inline-grid;
  justify-items: center;
  text-align: center;
}

.footer {
  grid-column: span 3;
  align-self: end;
}

@media screen and (max-width: 900px) {
  /* .grid-item { grid-column: span 2; } */
  .grid-container { grid-template-columns: 1fr; }
  .front-container { grid-template-columns: 1fr; }
  .cat { grid-column: span 3; }
}
